body {
  width: 100%;
  height: 100%;
}

.table-manager {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  height: 100%;
  width: 100%;
}

.table-selector-pane {

}

.display-pane {

}

.table-list {
  /* border: 1px solid green;
  width: 100%; */
}